/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* Imagen de fondo con un gradiente superpuesto */
    background-image: url('Porcentajes.jpg'), linear-gradient(135deg, #1e3c72, #2a5298);
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center;
    background-attachment: fixed; /* Fija la imagen de fondo al hacer scroll */
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    border-radius: 10px;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Desenfoque para el fondo */
    position: relative;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: #f1f1f1;
}

.description {
    font-size: 1rem;
    color: #f1f1f1;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 1rem;
    color: #f1f1f1;
    margin-bottom: 5px;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f1f1f1;
    color: #333;
}

input[type="number"]:focus,
select:focus {
    border-color: #2a5298;
    outline: none;
}

button.btn {
    background-color: #2a5298;
    color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn:hover {
    background-color: #1e3c72;
}

.resultado {
    font-size: 1.2rem;
    margin-top: 20px;
    color: #f1f1f1;
    font-weight: 500;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
